{% extends "base.html" %}

{% block page_content %}
<h1>Services</h1>
<div class="row">
{% for service in services %}
    <div class="col-md-4">
        <div class="card mb-2">
            {% if service.logo %}
                <img class="card-img-top" src="{{ service.logo.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}